{%- set commonAnnotations = payload.get("commonAnnotations", {}) -%}
{%- set groupLabels = payload.get("groupLabels", {}) -%}
{%- set commonLabels = payload.get("commonLabels", {}) -%}
{%- set alerts = payload.get("alerts", {}) -%}
{%- if alerts[0].generatorURL %}{% set url = alerts[0].generatorURL %}{% endif -%}
{%- if commonAnnotations.runbook %}{% set runbook = commonAnnotations.runbook %}{% endif -%}
{%- if commonAnnotations.summary %}**{{ commonAnnotations.summary }}**{% endif %}{% if url or runbook %}  |  {% if url %}[source]({{ url }}){% endif %}{% if runbook %}  |  [runbook]({{ runbook }}){% endif %}
{% endif -%}
{%- if commonAnnotations.description %}_{{ commonAnnotations.description }}_
{% endif -%}
{%- if alerts | length > 1 %}

**Instances:**
{%- for a in alerts %}
    {{ a.labels.instance }}{% for l in a.labels.keys() if l != 'alertname' and l != 'instance' and l not in commonLabels.keys() -%}{% if loop.first %}  |  {% endif %}{{l}}=`{{ a.labels[l] }}`{% if not loop.last %}, {% else %}{% if a.annotations.value %}  |  value=**{{ a.annotations.value }}**{% endif %}{% endif %}{% endfor %}
{%- endfor -%}
{% else -%}
{%- if alerts[0].labels.instance %}

**Instance:** {{ alerts[0].labels.instance }}{% if alerts[0].annotations.value %}  |  value=**{{ alerts[0].annotations.value }}**{% endif %}
{% endif -%}
{% endif -%}
{%- if commonLabels | length > 0 %}

**Common labels:**
{%- for k, v in commonLabels.items() if k != 'alertname' and k != 'instance' %}
    {{ k }}=`{{ v }}`
{%- endfor -%}
{% endif -%}