{%- set status = incident.status -%}
{%- set status_emoji = {"firing": ":fire:", "unknown": ":warning:", "resolved": ":white_check_mark:", "closed": ":heavy_multiplication_x:"}[status] -%}
{{- status_emoji -}}